.jumbotron {
    margin-top: 4vh;
    text-align: center;
    background-image: url("./images/jumbotron.png");
    height: 700px;
    background-size: cover;
    font-family: "Overwatch", sans-serif;
}

@font-face {
    font-family: "Overwatch";
    src: url("../../fonts/OVERWATCH.ttf") format('truetype')
}

.container {
    color:grey;
    /* font-weight: 900px; */
    font-size: 10vw;
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: black;
}

.lead {
    font-family: sans-serif;
    color: yellow;
    -webkit-text-stroke-width: .75px; 
    -webkit-text-stroke-color: black;
    font-weight: bolder;
    font-size: 3.5vh;
}